body {
    background-color: #fff;
}

h1 {
    font-family: 'Philosopher', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}


/* Sekcja z głównym obrazkiem podstrony START */

#project-item {
    background-image: url(../img/Slajder/8046256_simpolo-2032188_1920.jpg);
}

#project-item1 {
    background-image: url(../img/Nagrody/win-1820037_1920.jpg);
}

#project-item2 {
    background-image: url(../img/team/workplace-1245776_1920.jpg);
}
#project-item3 {
    background-image: url(../img/ONas/architecture-1048092_1920.jpg);
}

.pictures {
    background-position: center;
    background-size: center;
    height: 90vh;
    padding: 0;
    margin: 0;
    border: 0;
}

.our-project {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 30vh;
}

.our-project h1 {
    font-size: 4em;
    color: #333333;
    margin-bottom: 20px;
    transform: translateY(70%);
}


/* Sekcja z głównym obrazkiem podstrony STOP */


/* Sekcja portfolio START */

#portfolio {
    height: 130vh;
    background-color: #f7f7f7;
    padding-top: 50px;
}

.inner {
    height: 300px;
    overflow: hidden;
}

#portfolio .container .row .picture {
    background-size: cover;
    transition: all 1s;
}

#portfolio-item-1 {
    background-image: url(../img/Project/apartment-2094666_1920.jpg);
}

#portfolio-item-2 {
    background-image: url(../img/Project/architecture-2052236_1920.jpg);
}

#portfolio-item-3 {
    background-image: url(../img/Project/greece-905557_1920.jpg);
}

#portfolio-item-4 {
    background-image: url(../img/Project/large-home-389271.jpg);
}

#portfolio-item-5 {
    background-image: url(../img/Slajder/8046256_simpolo-2032188_1920.jpg);
}

#portfolio-item-6 {
    background-image: url(../img/Slajder/simpolo-2020200_1280.jpg);
}

.img-container .hov:hover {
    transform: scale(1.2);
}

.img-container {
    height: 100%;
}

.img-container div {
    height: 100%;
}

.portfolio-mask {
    transition: all 1s;
    background-color: rgba(189, 148, 96, 0.85);
    opacity: 0;
}

.portfolio-mask:hover {
    opacity: 1;
}

#portfolio .fa {
    color: #fff;
    width: 100px;
    height: 100px;
    transform: translateY(100%);
    line-height: 100px;
    font-size: 4em;
}

.text-nag {
    width: 100%;
    background-color: #fff;
    margin-bottom: 5%;
    padding: 10px;
}


/* Sekcja portfolio STOP */


/* Sekcja nagrody START */

.container-border {
    border-bottom: 1.5px dashed rgb(189, 148, 96);
    width: 100%;
    margin-left: 2.5px;
    padding-bottom: 20px;
}

.fa-star {
    color: #ffd700;
}

.fa-flag {
    color: rgb(57, 43, 26);
}

.fa-handshake-o {
    color: rgb(21, 21, 77);
}

.icon {
    margin-top: 5.5%;
    padding: 0;
}


/* Sekcja nagrody STOP */


/* Sekcja zespół START */
#employess h3 {
    padding: 10px;
    padding-top: 0;
}
.text-content,
.text-content-about {
    margin-left: 15px;
}

/* Sekcja zespół STOP */

/* Sekcja O nas START */
#about-us h3 {
    margin-top: 50px;
    padding: 15px;
}
.about-firm{
    border-radius: 5%;
}
/* Sekcja O nas STOP */