@media (max-width: 768px) {
    /* Sekcja dla nawigacji START */
    #main-nav {
        background-color: #fff;
    }
    #main-nav ul .menu-item a {
       color: #000;
        text-transform: capitalize;
        font-size: 1.2em;
    }
    #main-nav ul .menu-item a:hover {
       color: #0ed8d6;
    }
    .navbar-header .navbar-brand {
    color: #333333;
    
}
}